<footer style="background-color: darkslategray;">
    <center>
        <small style="color: white">HandleBar Inc, or also known as Mustache Inc is a non profit
            organization, working charitablly for the
            Educational, Food, Heath services of under previlaged childern of all over the Indian Sub Continent.
            Any amount of donation, cash or material is heartly accepted. <a href="#">Click this link for your
                support.</a>
        </small>
        <p>Year: {{getYearFull}}</p>
    </center>
</footer>