<div class="hd" style="background-color: gray;">
    <div class="hd-cont">
        <h1>{{changeCase headingMsg}}</h1>
    </div>
    <div class="hd-cont"><img src="../images/mus.png" alt="mustache" height="120px" width="290px"></div>
</div>