<div class="list-group">
    <a href="http://localhost:5000/" class="list-group-item list-group-item-action">Home</a>
    <a href="http://localhost:5000/our" class="list-group-item list-group-item-action">Our World</a>
    <a href="http://localhost:5000/gallery" class="list-group-item list-group-item-action">Gallery</a>
    <a href="http://localhost:5000/about" class="list-group-item list-group-item-action">About Us</a>
</div>