<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Afghanisthan</a>
    <a href="#" class="list-group-item list-group-item-action">Bangladesh</a>
    <a href="#" class="list-group-item list-group-item-action">Bhutan</a>
    <a href="#" class="list-group-item list-group-item-action">India</a>
    <a href="#" class="list-group-item list-group-item-action">Pakisthan</a>
    <a href="#" class="list-group-item list-group-item-action">Myanmar</a>
    <a href="#" class="list-group-item list-group-item-action">Nepal</a>
</div>